<%- include ("_partial/_header"); -%>
        <div class="jumbotron">
            <h1>All about Node</h1>
            <p class="lead">Check out our articles below!</p>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="list-group">
                    
            </div>
        </div>
    

<%- include ("_partial/_footer"); -%>