.page-footer{
    background-color:seashell;
    position: relative;
    bottom: 0;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-icons{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
    


