.product-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.warehouse-head p{
    font-size:50px;
}


.add-icon{
    font-size: large;
}

.subtract-icon{
    font-size: large;
}

.btn-container{
   
    margin: 0 auto;
}

.btn-container .add-btn{
    align-items: center;
}

.img-wrapper{
    padding: 10px;
    border-right: 1px solid rgba(102, 51, 0,0.5);
}

.product{
    background-color: seashell;
    width: 45%;
    margin: 20px 2.5%;
    border-radius: 10px;
    border: 1px solid rgba(102, 51, 0,0.5);
}
