<!-- Footer -->
<footer class="page-footer font-small">
      <div class="container social">



            <p>Get connected with us on social networks!</p>
  <div class=" social-icon">

            <!-- Facebook -->
            <a class="col-sm-3 fb-ic">
                <i class="bi bi-facebook"></i>
            </a>
            <!-- Twitter -->
            <a class="col-sm-3 tw-ic">
                <i class="bi bi-twitter"></i>
            </a>
            <!--Linkedin -->
            <a class="col-sm-3 li-ic">
                <i class="bi bi-linkedin"></i>
            </a>
            <!--Instagram-->
            <a class="col-sm-3 ins-ic">
                <i class="bi bi-instagram"></i>
            </a>
  </div>

    </div>
  
   
  
    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2022 Copyright:
      <a class="dark-grey-text" href="https://mdbootstrap.com/">Thanzeeh Shabeer</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</body>
</html>